document {
    margin-top: 0;
}

#header {
    display: none;
}

#order {
    display: none;
}

#content #cc h1 {
    display: none;
}

label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

#exact_cardholder_name, #x_card_num, #x_exp_date, #x_card_code {
    border-radius: 4px;
    color: #545557;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #CED4DA;
}

#x_card_num {
    display: inline-block;
}

img[title="American Express"] {
    display: none;
}

input[type=submit] {
    font-weight: 500;
    height: 50px;
    font-size: 15px;
    text-decoration: none;
    width: 220px;
    border-radius: 1px;
    border: 2px solid #004CCC;
    color: #FFFFFF;
    background: #004CCC;

}

input[type=text], #cvd_presence_ind {
    display: block !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #545557;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #CED4DA;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#cvd_presence_ind {
    font-size: 1rem;
    font-weight: 400;
    color: #545557;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #CED4DA;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
